/build
/.vs
/.vscode
CppBuild.lock
/deps
/install*
/pkg
/cmake-build-debug
*.swp
*.log
*.pro
*.pro.user
*.mdb
.idea
i_*
.cache/*
compile_commands.json

/debug*

/model
/logs
/debug

*.avi
*.mov
*.h264
*.h265
*.mp4
*.dav
*.m4v

*.lic